<h1>Articles List</h1>

<ul>
  <% @articles.each do |a| %>
  <li>
    <h2><%= link_to a.title, article_path(a) %></h2>
    <div><%= a.body %></div>
    <p>
      <%= link_to "Edit", edit_article_path(a) %> |
      <%= link_to "Delete", article_path(a),
          method: :delete,
          data: { confirm: "are you sure?" } %>
    </p>
  </li>
  <% end %>
</ul>

<p>
  <%= link_to "New Article", new_article_path %>
</p>
