<h1><%= @article.title %></h1>
<div><%= @article.body %></div>
<p>
  <%= link_to "Articles List", articles_path %> |
  <%= link_to "Edit", edit_article_path(@article) %> |
  <%= link_to "Delete", article_path(@article),
      method: :delete,
      data: { confirm: "are you sure?" } %>
</p>

<hr>
<h2>Add Comment</h2>
<%= render "comments/form" %>
